.csstable {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #3f7f00;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
}

.csstable table {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.csstable tr:last-child td:last-child {
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.csstable table tr:first-child td:first-child {
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
}

.csstable table tr:first-child td:last-child {
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
}

.csstable tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.csstable tr:hover td {
	
}

.csstable tr:nth-child(odd) {
	background-color: #d4ffaa;
}

.csstable tr:nth-child(even) {
	background-color: #ffffff;
}

.csstable td {
	vertical-align: middle;
	border: 1px solid #3f7f00;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}

.csstable tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.csstable tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.csstable tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.csstable tr:first-child td {
	background: -o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5fbf00
		), color-stop(1, #3f7f00));
	background: -moz-linear-gradient(center top, #5fbf00 5%, #3f7f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00",
		endColorstr="#3f7f00");
	background: -o-linear-gradient(top, #5fbf00, 3f7f00);
	background-color: #5fbf00;
	border: 0px solid #3f7f00;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}

.csstable tr:first-child:hover td {
	background: -o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5fbf00
		), color-stop(1, #3f7f00));
	background: -moz-linear-gradient(center top, #5fbf00 5%, #3f7f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00",
		endColorstr="#3f7f00");
	background: -o-linear-gradient(top, #5fbf00, 3f7f00);
	background-color: #5fbf00;
}

.csstable tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.csstable tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}